[core]
    editor = emacs
[user]
    name = aporubov
    email = aporubov@gmail.com
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    l = log --graph --oneline --decorate --branches --remotes --tags
[pull]
	ff = only
